{#
 Implementa un box banner	
#}
<!-- nuevo box banner  -->
{# <section class="publicidad">
	<a href="https://www.facebook.com/AnahuacEgresados" target="_blank">
		<img src="{{ module_path }}/img/box.png" alt="">
	</a>
</section> #}

<!-- /612216191/BB_ANAHUAC -->
<section class="publicidad">
	<div id='div-gpt-ad-1519186757920-0'>
		<script>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1519186757920-0'); });
		</script>
	</div>
</section>