{#
 Implementa un box banner	
#}
<section class="publicidad to_fix">
	<!-- /612216191/HP_ANAHUAC -->
	<div id='div-gpt-ad-1519662849068-0' style='height:600px; width:300px;'>
		<script>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1519662849068-0'); });
		</script>
	</div>
</section>