{#

#}
{#
 Implementa un box banner	
#}
<!-- nuevo box banner  -->
<section class="publicidad">
	<!-- /612216191/LB_ANAHUAC -->
	<div id='div-gpt-ad-1519186757920-2'>
		<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-1519186757920-2'); });
		</script>
	</div>
</section>


<section class="publicidad movil">
	<!-- /612216191/LBMOBILE_ANAHUAC -->
	<div id='div-gpt-ad-1519186757920-3'>
		<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-1519186757920-3'); });
		</script>
	</div>
</section>