{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<div class="writter">
	 <figure>
	 	  <img src="{{file_url(user.user_picture.entity.fileuri)}}" alt="{{ user.user_picture.alt }}">
	 </figure>
	 	<strong>

		 	<a href="#">
			 	{% if user.field_user_display_name is not empty %}
					{{user.field_user_display_name.value}}
				{% else %}
					{{user.name.value}}
				{% endif %}

	    	</a>
        </strong>
        
        <!--div class="social_writter">
        <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
        <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
    	</div-->
        <em>{{user.field_user_description.value|raw}}</em>
    
</div>

