{#
	template notas_recomendadas
#}

<section class="related">
	<h4 class="line">Recomendaciones</h4>
	{% for node in recomendadas %}
			<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="main_note">
           <figure>
           		<img width="300" height="203" src="{{file_url(node.field_image.entity.fileuri)}}" class="" alt="">
                <figcaption>{{node.field_etiquetas.entity.label}}</figcaption>
           </figure>
           <strong>{{node.label}}</strong>
           <i>{% if node.Owner.field_user_display_name is not empty %}
					{{node.Owner.field_user_display_name.value}}
			  {% else %}
					{{node.Owner.name.value}}
				{% endif %}</i>
           <span>Ver más</span>
        </a>
	{% endfor %}
</section>