{#
#}
<form action="{{content['#action']}}" method="{{content['#method']}}">
    <input type="{{content.keys['#type']}}" name="{{content.keys['#name']}}" 
     		id="{{content.keys['#id']}}" 
     		value="" 
     		placeholder="Encuentra algo..." />
    <button type="submit" value="Search"><span></span></button>
</form>
