{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- meta - webapp -->
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="application-name" content="Generación Anáhuac">
    <meta name="apple-mobile-web-app-title" content="Generación Anáhuac">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-TileColor" content="#000">

    <!-- phone -->
    <meta name="format-detection" content="telephone=no">

    <!-- SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="keywords" content="">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="#/" />
    <meta property="og:title" content="Generación Anáhuac" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" />
    <meta name="twitter:creator" content="@" />
    <meta name="twitter:url" content="#/" />
    <meta name="twitter:title" content="Generación Anáhuac" />
    <meta itemprop="name" content="Generación Anáhuac" />
    

    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>

    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">



    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
    </script>

    <script>
      googletag.cmd.push(function() {
        googletag.defineSlot('/612216191/BB_ANAHUAC', [300, 250], 'div-gpt-ad-1519186757920-0').addService(googletag.pubads());
        googletag.defineSlot('/612216191/HP_ANAHUAC', [300, 600], 'div-gpt-ad-1519662849068-0').addService(googletag.pubads());
        googletag.defineSlot('/612216191/LB_ANAHUAC', [728, 90], 'div-gpt-ad-1519186757920-2').addService(googletag.pubads());
        googletag.defineSlot('/612216191/LBMOBILE_ANAHUAC', [320, 50], 'div-gpt-ad-1519186757920-3').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });
    </script>

  </head>
  <body{{ attributes }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    
  </body>


</html>
