{#
/**
 * @file
 * Default theme implementation for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}
<section class="inner flex listados">
 	<section class="top_section search-title">
    	<p><span>{{items|length}} Resultados </span>relacionados a tu búsqueda</p>
        <h1 class="title_section">{{search_keys}}</span></h1>
    </section>
    <section class="col_left">
      {%- if items -%}
            <section class="result-list">
            	 <ol>
             	 	{%- for item in items -%}
             			<li{{ item.attributes }}>{{ item.value }}</li>
           			{%- endfor -%}
             	 </ol>
            </section>
      {%- else -%}
           {{- empty -}}
      {%- endif -%}
    </section>

     <aside class="col_right">
        {{half_banner}}
     </aside>
</section>
