{#

#}

<section class="inner note">
	<article class="col_aside">
        <section class="share">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="https://api.whatsapp.com/send?text=http://www.cinepremiere.com.mx" class="whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
            <a href="#" class="plus"><i class="fa fa-plus"></i></a>
        </section>

        <section class="data_note">
            <section class="breadcumbs">
                {{page.breadcrumb}}
            </section>
            <h1>{{label}}</h1>
        </section>

       <section class="text">
            <figure class="mainImg">
                {{node.field_iframe_video.value|raw}}
            	{# <img src="{{file_url(node.field_image.entity.fileuri)}}"> #}
           	</figure>
            <h2 class="intro">
            	{{node.body.summary}}
           	</h2>

            {{node.body.value|raw}}
            {{author_picture}}
        </section> 
        <!-- text -->
        {{notas_recomendadas}}
    </article>
     <!-- col_aside -->

    <aside>
        {{box_banner}}
        {{related_notes}}
        {{half_banner}}
        <div class="tope alone"></div>
    </aside>
    <!-- aside -->

</section>
<!-- inner note -->