{#
	template: Egresado
#}
<section class="inner flex listados">
	<section class="top_section">
    <h1 class="title_section">Egresado</h1>
	</section>
	<section class="col_left"><!-- Col left -->
		<section class="egresado-bio clearfix">
	        <figure class="egresado__pic">
	            <img src="{{file_url(node.field_image.entity.fileuri)}}" alt="egresado">
	        </figure>
            <article>
                <h2>{{label}}</h2>
                <div class="egresado__position">
                    <p>{{node.field_puesto.value}}</p>
			        <p>Titulación en {{node.field_anio_titulacion.value}}</p>
                </div>
                <ul class="egresado__social">
                	{% if node.field_url_linkedin.value %}
	                    <li><a href="{{node.field_url_linkedin.value}}" target="_blank">
	                    		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	                    	</a>
	                    </li>
	                {% endif %}
	                {% if node.field_email.value %}
	                    <li>
	                    	<a href="mailto:{{node.field_email.value}}">
	                    		<i class="fa fa-envelope" aria-hidden="true"></i>
	                   		</a>
	                    </li>
	                {% endif %}
                </ul>
            </article>
        </section>

         <article class="simple-txt">
         	{{node.field_semblanza.value|raw}}
         </article>

         {{notas_recomendadas}}

	</section>
    <aside>
        {{box_banner}}
        {{related_notes}}
        {{half_banner}}
        <div class="tope alone"></div>
    </aside>
</section>
