{#

#}

<section class="inner note">

	<article class="col_aside">
		<section class="data_note">
			<h1>{{label}}</h1>
		</section>
		<section class="text">
			{{node.body.value|raw}}
		</section>
	</article>
</section>
