{#
/**
 * @file
 * Bartik's theme implementation to display a header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{{leader_banner}}

<section class="inner clearfix">
	<a href="#" class="open_nav"><span></span></a>
	<a href="#" class="open_search"><span></span></a>
	<a href="{{ url('<front>') }}" title="Inicio" class="logo">Generación Anáhuac</a>
	<menu></menu><!-- aqui se pintara el menu -->
	<div class="suscribe">
	    <div class="social">
	        <a href="https://www.facebook.com/AnahuacEgresados/" target="_blank"><i class="fa fa-facebook"></i></a>
	        <a href="https://twitter.com/@anahuacegresado" target="_blank"><i class="fa fa-twitter"></i></a>
	        <a href="https://www.instagram.com/generacionanahuac/" target="_blank"><i class="fa fa-instagram"></i></a>
	        {# <a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a> #}
	        <a href="#suscribeNews" class="btn-suscribe scrollTo">Suscríbete <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	    </div>
	</div>
	<a href="http://www.anahuac.mx/rua/" class="red_anahuac" target="_blank"></a>

</section>