{#

#}


<footer>
	<a href="{{ url('<front>') }}" class="logo">
	    <img src="{{logo2path}}" alt="Generación Anáhuac">
	</a>
	<section class="inner">
	    <div class="social">
	        <a href="https://www.facebook.com/AnahuacEgresados/" target="_blank"><i class="fa fa-facebook"></i></a>
	        <a href="https://twitter.com/@anahuacegresado" target="_blank"><i class="fa fa-twitter"></i></a>
	        <a href="https://www.instagram.com/generacionanahuac/" target="_blank"><i class="fa fa-instagram"></i></a>
	    </div>
	    {{content}}
	    {#  
	    <div class="instawidget" data-user-name="uanahuacnorte" data-amount="6" data-grid="6"></div>
	    <script type="text/javascript" src="{{theme_path}}/js/instawidget_init.min.js"></script> 
	    #}
	</section>
    <section class="legal">
        <section class="inner">
            <span>©Copyright 2018 Generación Anáhuac</span>
            <div class="prop_links">
                <a href="//www.anahuac.mx/rua/historia ">Quiénes somos</a>
                <a href="contacto">Contacto</a>
                <a href="politicas-de-privacidad">Políticas de Privacidad</a>
            </div>
        </section>
    </section>
</footer>

<div data-uni="UAMN" id="menucontacto">&nbsp;</div>
       	<script type='text/javascript'>
			var wf = document.createElement('script');
			wf.src = 'https://redanahuac.mx/rua/multimedia_user/templates/33/js/formcontactapreu.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(wf, s);
        </script>