{#

#}
<section class="inner flex">
	<section class="top_section">
        <h1 class="title_section">{{term_title}}</h1>
        {% if term_description %}
       	 	<h2 class="line">{{term_description}}</h2>
       	{% endif %}
    </section>
    <section class="top_notes">
    	{% for node in  notes | slice(0,2) %}
			{% if loop.index == 1 %}
				 <div class="principal">
			{% endif %}
			{% block url_principales %}
            	<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="main_note">
            {% endblock %}
		           <figure>
		           		<img width="300" height="203" src="{{file_url(node.field_image.entity.fileuri)}}" class="" alt="">
		                <figcaption>{{node.field_etiquetas.entity.label}}</figcaption>
		           </figure>
           		   <strong>{{node.label}}</strong>
		           <i>
		           		{% if node.Owner.field_user_display_name is not empty %}
							{{node.Owner.field_user_display_name.value}}
					  	{% else %}
							{{node.Owner.name.value}}
						{% endif %}
					</i>
           			<span>Ver más</span>
        	</a>
	        {% if loop.index == 1 %}
				 </div>
				 {{box_banner}}
			{% endif %}
    	{% endfor %}
        
	</section>


	<section class="col_left">
		<section class="block_1">
			{% for nota in  notes | slice(2) %}
				{% block url %}
	            <a href="{{ path('entity.node.canonical', {'node': nota.id}) }}" class="main_note">
	            {% endblock %}
			           <figure>
			           		<img width="300" height="203" src="{{file_url(nota.field_image.entity.fileuri)}}" class="" alt="">
			                <figcaption>{{nota.field_etiquetas.entity.label}}</figcaption>
			           </figure>
	           		   <strong>{{nota.label}}</strong>
			           <i>
			           		{% if nota.Owner.field_user_display_name is not empty %}
								{{nota.Owner.field_user_display_name.value}}
						  	{% else %}
								{{nota.Owner.name.value}}
							{% endif %}
						</i>
	           			<span>Ver más</span>
	        	</a>
	        {% endfor %}
		</section>
	</section>

	<aside class="col_right go_fix">
    	{{half_banner}}
   	</aside>
            <!-- col_right -->
</section>