{#

/**
* template para la vista principal
*
**/
#}

<section class="top_home">
	<section class="inner">
		{{slider}}
	</section>
</section>


<section class="ban_revista">
	<a href="https://www.anahuac.mx/generacion-anahuac/revista" target="_blank">
		<img src="https://www.anahuac.mx/generacion-anahuac/themes/custom/genanahuac/css/img/ban_revista2.jpg" alt="Ir a revista">
	</a>
</section>


<section class="inner">
	{{latest_notes}}
</section>

{# <section class="agenda">
	<section class="inner">
			{{agenda}}
	</section>
</section> #}

<section class="videoHome">
  	<section class="inner">
  		{{videos}}
	</section>
</section>

<section class="inner">
	{# {{popular}} #}

	<article class="egresados">
 		{{egresados}}
 	</article>
</section>


{#  <section class="newsletter">
     <section class="inner">
     	 {{form_newsletter}}
     </section>
 </section> #}
 
