{#
	template para la edición impresa de la revista
#}	

<section class="inner flex listados">
	<section class="top_section">
    	<h1 class="title_section">Revista</h1>
	</section>

	<section class="col_left"><!-- Col left -->
		<div class="lista_revistas">
			{% for node in nodes  %}
				<a href="{{node.field_url_a_revista.value[0].uri}}" target="_blank">
					<figure>
						<img src="{{file_url(node.field_image.entity.fileuri)}}" alt="revista">
					</figure>
					<strong>
							{{node.label}}
					</strong>
				</a>
			{% endfor %}
		</div>
	</section>

	<aside class="col_right go_fix">
    	{{half_banner}}
   	</aside>
</section>