{# {% extends  "views-view--egresados.html.twig" %} #}
{# {{ kint(exposed)	}} #}


 <main>
 	<section class="top_seccion">
 		 <div class="inner">
 		 	<h1 class="line">Agenda <span>Anáhuac</span></h1>
 		 	<h2></h2>
 		 	<form>
 		 		<section class="filter_search">
                    <div class="filter_select">
                    	<!--div>Elegir campus...</div-->
                    	
                    	{{ exposed.field_campus_del_evento_target_id }}
						
						{{ exposed.actions }}

                    </div>
                </section>
				
			</form>
 		 </div>
 	</section>

 	 <article class="inner flex">
 	 	<section class="col_aside">
        <div class="calendar">
        	<article class="month">
                <section class="month_name">
                </section>
                <section class="day">
        			{% for nota in  notes %}
        				<div>
							<a href="{{nota.field_url_evento.value}}">
								<figure>
                                  	<img width="300" height="203" src="{{file_url(nota.field_image.entity.fileuri)}}" class="" alt="">
                                </figure>
                                <span class="when">
                                	<i class="fa fa-calendar"></i>
                                	{{nota.field_fecha_evento.value}}		
                                </span>
                                <strong>{{nota.label}}</strong>
                                <span class="place">
                                	{{nota.field_campus_del_evento.entity.label}}
                               	</span>
							</a>
						</div>
					{% endfor %}
                </section>          
           	</article>
        </div>
 	 </article>


 </main>

