{#

#}

<label class="col_2">
    <span>
    	<i class="fa fa-envelope"></i> 
    	{{element['#title']}}
    </span>
    <input data-drupal-selector="element['#attributes']['data-drupal-selector']" 
    		type="{{element['#attributes']['type']}}" 
    		id="{{element['#id']}}"
    		name="{{element['#name']}}" 
    		placeholder="{{element['#placeholder']}}">
</label>