{#
	theme de block de lo mas popular
#}

<h2 class="line center">Lo más <span>leído</span> <b><i></i></b></h2>
 <section class="block3">
 		<div>

 			{% for item in nodes %}
					<a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="main_note">
					<figure>
						<img width="300" height="203" 
							src="{{file_url(item.field_image.entity.fileuri)}}" 
							class="" alt="">
						<figcaption>{{item.field_etiquetas.entity.label}}</figcaption>
					</figure>
					<strong>{{ item.label }}</strong>

					<i>
						{% if item.Owner.field_user_display_name is not empty %}
								{{item.Owner.field_user_display_name.value}}

						{% else %}
								{{item.Owner.name.value}}
						{% endif %}
					</i>
					<span>Ver más</span>
				</a>
	        {% endfor %}
 		</div>
 		{{half_banner}}
 </section>

