{#
/*
* 
* 
*/	
#}
{{ attach_library('anahuac_home/home-slider') }}

<section class="carousel_home">
{% for item in items_slider %}
	<a href="{{ path('entity.node.canonical', {'node': item.id}) }}">
			<figure>
				<img src="{{file_url(item.field_image.entity.fileuri)}}" alt="{{ item.field_image.alt }}">
			</figure>
			<strong>
				<span>
					{{item.field_etiquetas.entity.label}}
				</span> 
				{{ item.label }}
			</strong>
	</a>
{% endfor %}
</section>

