{# 
	/*
	* Template para el bloque de agenda
	*/
#}
{{ attach_library('anahuac_home/agenda') }}
<h2 class="line center">Agenda <span>Anáhuac</span> </h2>
<article class="carousel_events">
	{% for evento in eventos %}
		
			<a href="{{evento.field_url_evento.value}}">
				<figure>
					<img src="{{file_url(evento.field_image.entity.fileuri)}}" alt="nota2">
				</figure>
				<div>
					<span> {{evento.field_fecha_evento.value}} </span>
					<strong>{{evento.label}}</strong>
					<em>{{evento.field_campus_del_evento.entity.label}}</em>
				</div>
			</a>
	{% endfor %}
	</article>	
    <a href="agenda" class="btn center">Ver todos</a>