{#
	template para el bloque de "egresados" en el home
	@author: jperez
#}
<h2 class="line center"><span>Egresados</span></h2>
{% set classNames=["one","two","three","four","five","six","seven","eight"]  %}
<section class="grid">
{% for egresado in egresados %}
	<div class="{{classNames[loop.index0]}}">
        <a href="{{ path('entity.node.canonical', {'node': egresado.id}) }}">
            <figure>
                <img src="{{file_url(egresado.field_image.entity.fileuri)}}" alt="egresado">
            </figure>
            <p>
                <strong>{{egresado.label}}</strong>
                <i>{{egresado.field_puesto.value}}</i>
                <em>{{egresado.body.summary}}</em>
            </p>
        </a>
    </div>
{% endfor %}
</section>
<a href="egresados" class="btn center">Ver todos</a>
