{#
	template para la sección de videos en el home
#}

<h2 class="center">Videos</h2>
	<section class="wrapper_video">
		{# se obtiene el primer elemento #}
		{% set destacado = videos|first %}
			{{ destacado.field_iframe_video.value|raw }}
		
		<a href="{{ path('entity.node.canonical', {'node': destacado.id}) }}">
			<b>{{ destacado.field_etiquetas.entity.label }}</b>
			<strong>{{destacado.label}}</strong>
			<em>{{destacado.body.summary}}</em>
		</a>	  
	</section>
				
	<section class="thumbs_video">
		{% for item in videos|slice(1) %}
			<a href="{{ path('entity.node.canonical', {'node': item.id}) }}">
				<img src="{{file_url(item.field_image.entity.fileuri)}}" alt="{{item.field_image.alt}}">
					<strong>{{item.label}}</strong>
			</a>
		{% endfor %}
					{# <a href="#">
						<img src="img/nota.png" alt="nota">
						<strong>Inauguración Fab Lab, Ciudad de México</strong>
					</a>
					<a href="#">
						<img src="img/nota2.jpg" alt="nota">
						<strong>La importancia de formar carácter</strong>
					</a>
					<a href="#">
						<img src="img/nota2.jpg" alt="nota">
						<strong>Inauguración Fab Lab, Ciudad de México</strong>
					</a>
					<a href="#">
						<img src="img/nota.png" alt="nota">
						<strong>La importancia de formar carácter</strong>
					</a>
					<a href="#">
						<img src="img/nota2.jpg" alt="nota">
						<strong>Inauguración Fab Lab, Ciudad de México</strong>
					</a> #}
	</section>