{#
  NewsLetter Form
#}

{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<h2>Suscríbete a nuestro Newsletter</h2>
<p>Recibe toda la información de Generación Anáhuac directo en tu correo electrónico.</p>

<div class="wrapper" id="suscribeNews">
		<div id="error-messages"></div>
        {{form.nombre}}
        {{form.email}}
        {{form.actions.submit}}
</div>
<!-- wrapper -->

