{#
	Test simple carousel
#}
{{ attach_library('anahuac_home/simplest-carousel') }}
<div class="owl-carousel">
		  <div> Your Content </div>
		  <div> Your Content </div>
		  <div> Your Content </div>
		  <div> Your Content </div>
		  <div> Your Content </div>
		  <div> Your Content </div>
		  <div> Your Content </div>
</div>